# Introduction of NMF for recommendation systems

SLIDES -> [please click](https://docs.google.com/presentation/d/119Foj6P_X2t1RxCW1TFvrYI-pMOyV2kQgUgHSvccya0/edit?usp=sharing)

# Prepare Data

In [1]:
!gdown --id 1woyznL9rtKIALYdfKulYyxtjetcST4HU
!gdown --id 1mCwvXi4P0LjNHi_H-B9QSXHXopKPrM7d
!gdown --id 1dk-CILCnNi7Q3YrJEcjmuxRHLxBmNdKF

Downloading...
From: https://drive.google.com/uc?id=1woyznL9rtKIALYdfKulYyxtjetcST4HU
To: /content/movie_rating.zip
100% 675k/675k [00:00<00:00, 44.1MB/s]
Downloading...
From: https://drive.google.com/uc?id=1mCwvXi4P0LjNHi_H-B9QSXHXopKPrM7d
To: /content/movie_meta.zip
12.8MB [00:00, 78.1MB/s]
Downloading...
From: https://drive.google.com/uc?id=1dk-CILCnNi7Q3YrJEcjmuxRHLxBmNdKF
To: /content/movie_link_small.csv
100% 183k/183k [00:00<00:00, 58.2MB/s]

In [2]:
!unzip movie_rating.zip
!unzip movie_meta.zip

Archive:  movie_rating.zip
  inflating: ratings_small.csv
Archive:  movie_meta.zip
  inflating: movies_metadata.csv

In [41]:
import numpy as np
import pandas as pd
import regex as re

In [11]:
moviemeta = pd.read_csv('movies_metadata.csv')
moviemeta

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

       adult  ... vote_count
0      False  ...     5415.0
1      False  ...     2413.0
2      False  ...       92.0
3      False  ...       34.0
4      False  ...      173.0
...      ...  ...        ...
45461  False  ...        1.0
45462  False  ...        3.0
45463  False  ...        6.0
45464  False  ...        0.0
45465  False  ...        0.0

[45466 rows x 24 columns]

In [9]:
ratingdat = pd.read_csv('ratings_small.csv')
ratingdat

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
...        ...      ...     ...         ...
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [10]:
linkdat = pd.read_csv('movie_link_small.csv')
linkdat

      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
...       ...      ...       ...
9120   162672  3859980  402672.0
9121   163056  4262980  315011.0
9122   163949  2531318  391698.0
9123   164977    27660  137608.0
9124   164979  3447228  410803.0

[9125 rows x 3 columns]

In [7]:
moviedat = linkdat.join(moviemeta,on='tmdbId',how='left')
moviedat

      movieId   imdbId    tmdbId  ...  video vote_average vote_count
0           1   114709     862.0  ...  False          5.0        1.0
1           2   113497    8844.0  ...  False          6.2       40.0
2           3   113228   15602.0  ...  False          7.6       14.0
3           4   114885   31357.0  ...  False          5.0        4.0
4           5   113041   11862.0  ...  False          4.3       33.0
...       ...      ...       ...  ...    ...          ...        ...
9120   162672  3859980  402672.0  ...    NaN          NaN        NaN
9121   163056  4262980  315011.0  ...    NaN          NaN        NaN
9122   163949  2531318  391698.0  ...    NaN          NaN        NaN
9123   164977    27660  137608.0  ...    NaN          NaN        NaN
9124   164979  3447228  410803.0  ...    NaN          NaN        NaN

[9125 rows x 27 columns]

# Create User X Rating matrix

In [12]:
cmat = pd.crosstab(ratingdat['userId'],ratingdat['movieId'],ratingdat['rating'],aggfunc=sum)

In [13]:
cmat

movieId  1       2       3       4       ...  162376  162542  162672  163949
userId                                   ...
1           NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
2           NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
3           NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
4           NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
5           NaN     NaN     4.0     NaN  ...     NaN     NaN     NaN     NaN
...         ...     ...     ...     ...  ...     ...     ...     ...     ...
667         NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
668         NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
669         NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
670         4.0     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
671         5.0     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN

[671 rows x 9066 columns]

In [14]:
cmat = cmat.fillna(0)
cmat

movieId  1       2       3       4       ...  162376  162542  162672  163949
userId                                   ...
1           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
2           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
3           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
4           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
5           0.0     0.0     4.0     0.0  ...     0.0     0.0     0.0     0.0
...         ...     ...     ...     ...  ...     ...     ...     ...     ...
667         0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
668         0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
669         0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
670         4.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
671         5.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0

[671 rows x 9066 columns]

# Decompose Matrix into two matrices using NMF

In [15]:
from sklearn.decomposition import NMF # Non negative matrix factorization
nmf = NMF(100)
nmf.fit(cmat)

NMF(alpha=0.0, beta_loss='frobenius', init=None, l1_ratio=0.0, max_iter=200,
    n_components=100, random_state=None, shuffle=False, solver='cd', tol=0.0001,
    verbose=0)

In [16]:
H = pd.DataFrame(np.round(nmf.components_,2), columns=cmat.columns)
H

movieId  1       2       3       4       ...  162376  162542  162672  163949
0          8.96    6.31    4.30    0.00  ...     0.0     0.0     0.0     0.0
1          1.95    0.00    0.00    0.00  ...     0.0     0.0     0.0     0.0
2          0.32    1.85    0.15    0.08  ...     0.0     0.0     0.0     0.0
3          0.38    0.00    2.68    1.75  ...     0.0     0.0     0.0     0.0
4          0.35    0.00    0.00    0.00  ...     0.0     0.0     0.0     0.5
..          ...     ...     ...     ...  ...     ...     ...     ...     ...
95         0.03    0.22    0.21    0.00  ...     0.0     0.0     0.0     0.0
96         0.15    0.00    0.00    0.02  ...     0.0     0.0     0.0     0.0
97         0.05    0.26    0.00    0.00  ...     0.0     0.0     0.0     0.0
98         0.10    0.00    0.00    0.00  ...     0.0     0.0     0.0     0.0
99         0.32    0.00    0.00    0.00  ...     0.0     0.0     0.0     0.0

[100 rows x 9066 columns]

In [17]:
W = pd.DataFrame(np.round(nmf.transform(cmat),2), columns=H.index)
W

       0     1     2     3    4     5   ...    94   95    96    97    98   99
0    0.00  0.00  0.00  0.00  0.0  0.00  ...  0.00  0.0  0.00  0.00  0.00  0.0
1    0.00  0.00  0.77  0.00  0.0  0.00  ...  0.00  0.0  0.03  0.00  0.00  0.0
2    0.00  0.00  0.10  0.00  0.0  0.03  ...  0.00  0.0  0.00  0.00  0.00  0.0
3    0.03  0.00  0.00  0.00  0.0  0.00  ...  0.00  0.0  0.00  0.00  0.00  0.0
4    0.09  0.00  0.00  0.01  0.0  0.00  ...  0.00  0.0  0.00  0.00  0.00  0.0
..    ...   ...   ...   ...  ...   ...  ...   ...  ...   ...   ...   ...  ...
666  0.00  0.00  0.40  0.00  0.0  0.00  ...  0.00  0.0  0.00  0.00  0.00  0.0
667  0.00  0.00  0.00  0.00  0.0  0.00  ...  0.00  0.0  0.00  0.00  0.00  0.0
668  0.00  0.02  0.00  0.01  0.0  0.00  ...  0.00  0.0  0.00  0.02  0.00  0.0
669  0.00  0.00  0.06  0.00  0.0  0.00  ...  0.08  0.0  0.00  0.00  0.07  0.0
670  0.01  0.05  0.00  0.00  0.0  0.00  ...  0.00  0.0  0.00  0.00  0.00  0.0

[671 rows x 100 columns]

In [18]:
reconstructed = pd.DataFrame(np.round(np.dot(W,H),2), columns=cmat.columns)
reconstructed.index = cmat.index
reconstructed

movieId  1       2       3       4       ...  162376  162542  162672  163949
userId                                   ...
1          0.04    0.05    0.00    0.00  ...    0.01     0.0     0.0     0.0
2          0.97    1.43    0.12    0.12  ...    0.00     0.0     0.0     0.0
3          0.67    0.37    0.03    0.03  ...    0.00     0.0     0.0     0.0
4          3.27    1.48    0.49    0.04  ...    0.00     0.0     0.0     0.0
5          1.49    1.16    0.47    0.09  ...    0.00     0.0     0.0     0.0
...         ...     ...     ...     ...  ...     ...     ...     ...     ...
667        1.61    0.77    0.40    0.13  ...    0.00     0.0     0.0     0.0
668        0.20    0.02    0.04    0.02  ...    0.00     0.0     0.0     0.0
669        0.30    0.01    0.09    0.02  ...    0.00     0.0     0.0     0.0
670        0.84    0.19    0.28    0.03  ...    0.00     0.0     0.0     0.0
671        2.99    0.26    0.08    0.35  ...    0.00     0.0     0.0     0.0

[671 rows x 9066 columns]

In [19]:
cmat

movieId  1       2       3       4       ...  162376  162542  162672  163949
userId                                   ...
1           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
2           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
3           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
4           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
5           0.0     0.0     4.0     0.0  ...     0.0     0.0     0.0     0.0
...         ...     ...     ...     ...  ...     ...     ...     ...     ...
667         0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
668         0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
669         0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
670         4.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
671         5.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0

[671 rows x 9066 columns]

# Create Application

In [36]:
def recomendation(uid,topk=5):
  res = list(reconstructed.T[uid].sort_values(ascending=False)[0:topk].index)
  res = moviedat[moviedat['movieId'].isin(res)]
  res['genre'] = [re.findall(r"name': '(.*?)'}", res) for res in res['genres']]
  mList = ratingdat[ratingdat['userId']==uid][['movieId','rating']]
  res = res.merge(mList,on='movieId',how='left')
  res = res[['movieId','title','genre','rating']]
  return res

Application Analysis

In [48]:
res = list(reconstructed.T[4].sort_values(ascending=False)[0:5].index)
res

[1196, 260, 1097, 1210, 1198]

In [49]:
res = moviedat[moviedat['movieId'].isin(res)]
res

     movieId  imdbId  tmdbId  ...  video vote_average vote_count
232      260   76759    11.0  ...  False          5.7      210.0
888     1097   83866   601.0  ...  False          6.0      105.0
953     1196   80684  1891.0  ...  False          7.0     1367.0
955     1198   82971    85.0  ...  False          6.3       86.0
966     1210   86190  1892.0  ...  False          6.7     1066.0

[5 rows x 27 columns]

In [50]:
res['genre']=[re.findall(r"name': '(.*?)'}", res) for res in res['genres']]
res

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

     movieId  imdbId  ...  vote_count                                         genre
232      260   76759  ...       210.0                              [Comedy, Horror]
888     1097   83866  ...       105.0            [Adventure, Comedy, Drama, Family]
953     1196   80684  ...      1367.0  [Adventure, Action, Comedy, Thriller, Crime]
955     1198   82971  ...        86.0                               [Action, Drama]
966     1210   86190  ...      1066.0  [Action, Adventure, Comedy, Crime, Thriller]

[5 rows x 28 columns]

In [47]:
res['genre']

232                                [Comedy, Horror]
888              [Adventure, Comedy, Drama, Family]
953    [Adventure, Action, Comedy, Thriller, Crime]
955                                 [Action, Drama]
966    [Action, Adventure, Comedy, Crime, Thriller]
Name: genre, dtype: object

In [52]:
mList = ratingdat[ratingdat['userId']==4][['movieId','rating']]
mList

     movieId  rating
147       10     4.0
148       34     5.0
149      112     5.0
150      141     5.0
151      153     4.0
..       ...     ...
346     3251     5.0
347     3255     4.0
348     3263     3.0
349     3265     5.0
350     4006     2.0

[204 rows x 2 columns]

In [53]:
res = res.merge(mList,on='movieId',how='left')
res

   movieId  imdbId  ...                                         genre rating
0      260   76759  ...                              [Comedy, Horror]    5.0
1     1097   83866  ...            [Adventure, Comedy, Drama, Family]    5.0
2     1196   80684  ...  [Adventure, Action, Comedy, Thriller, Crime]    5.0
3     1198   82971  ...                               [Action, Drama]    5.0
4     1210   86190  ...  [Action, Adventure, Comedy, Crime, Thriller]    5.0

[5 rows x 29 columns]

In [54]:
res[['movieId','title','genre','rating']]

   movieId  ... rating
0      260  ...    5.0
1     1097  ...    5.0
2     1196  ...    5.0
3     1198  ...    5.0
4     1210  ...    5.0

[5 rows x 4 columns]

## Application Usage

In [55]:
## comedy horror type
userid = 398
topk = 20
recomendation(userid,topk)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

    movieId  ... rating
0       110  ...    NaN
1       260  ...    NaN
2       541  ...    NaN
3       589  ...    NaN
4      1036  ...    NaN
5      1097  ...    NaN
6      1136  ...    4.0
7      1196  ...    4.0
8      1197  ...    5.0
9      1198  ...    4.0
10     1200  ...    NaN
11     1210  ...    NaN
12     1240  ...    4.0
13     1270  ...    NaN
14     1291  ...    NaN
15     2000  ...    4.0
16     2028  ...    NaN
17     2115  ...    4.0
18     2571  ...    NaN
19     2716  ...    4.0

[20 rows x 4 columns]

In [56]:
## action thriller type
userid = 198
recomendation(userid,topk)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

    movieId  ... rating
0        50  ...    NaN
1       296  ...    NaN
2       318  ...    NaN
3       593  ...    NaN
4       608  ...    3.5
5       858  ...    5.0
6      1089  ...    2.0
7      1213  ...    NaN
8      2599  ...    5.0
9      2858  ...    5.0
10     2959  ...    NaN
11     2997  ...    5.0
12     3481  ...    4.5
13     3897  ...    NaN
14     3911  ...    3.0
15     3996  ...    3.5
16     4027  ...    4.5
17     4034  ...    4.5
18     4226  ...    4.0
19     4973  ...    4.5

[20 rows x 4 columns]

In [57]:
## comedy romance drama type
userid = 38
recomendation(userid,topk)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

    movieId  ... rating
0        50  ...    NaN
1       296  ...    5.0
2       318  ...    4.5
3       356  ...    4.5
4       527  ...    4.5
5       593  ...    4.5
6       858  ...    4.5
7      1193  ...    NaN
8      1213  ...    4.0
9      1221  ...    4.5
10     2329  ...    NaN
11     2571  ...    4.0
12     2858  ...    4.0
13     2959  ...    4.0
14     4306  ...    NaN
15     4993  ...    4.0
16     5952  ...    4.5
17     6539  ...    4.0
18     7153  ...    4.5
19    58559  ...    4.5

[20 rows x 4 columns]