# Import required packages

In [1]:
import pandas as pd
import numpy as np

In [4]:
delivery_df = pd.read_csv('delivery_orders_march.csv')

(3176313, 6)

In [5]:
delivery_df.shape

(3176313, 6)

In [7]:
delivery_df.columns

Index(['orderid', 'pick', '1st_deliver_attempt', '2nd_deliver_attempt',
       'buyeraddress', 'selleraddress'],
      dtype='object')

In [8]:
delivery_df.head(5)

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ..."
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M..."
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number..."
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...

In [9]:
delivery_df.dtypes

orderid                  int64
pick                     int64
1st_deliver_attempt    float64
2nd_deliver_attempt    float64
buyeraddress            object
selleraddress           object
dtype: object

In [10]:
delivery_df.loc[0]

orderid                                                       2215676524
pick                                                          1583138397
1st_deliver_attempt                                          1.58338e+09
2nd_deliver_attempt                                                  NaN
buyeraddress           Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...
selleraddress          Pantranco vill. 417 Warehouse# katipunan 532 (...
Name: 0, dtype: object