In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer

import joblib

In [2]:
modelname="modelSaved"

In [ ]:
dataBin = pd.read_csv('train.csv')

In [ ]:
dataBin.head(20)

In [ ]:
X_a, X_b, y_a, y_b = train_test_split(dataBin.review, dataBin.rating, test_size =0.25  )

In [ ]:
vectorizer = CountVectorizer()
X_train_cv = vectorizer.fit_transform(X_a.values)

In [7]:
model = joblib.load(modelname + ".joblib")

In [8]:
model = MultinomialNB()
model.fit(X_train_cv, y_a)

MultinomialNB()

In [9]:
toTest = [
    "This is literally the worst item I had received my entire life",
    "The product is ok I guess"
]

In [10]:
toTestVector = vectorizer.transform(toTest)

model.predict(toTestVector)

array([1, 3], dtype=int64)

In [11]:
joblib.dump(model, modelname + ".joblib")

['modelSaved.joblib']

In [12]:
toPredict = pd.read_csv('test.csv')

In [13]:
toPredict.head(20)

    review_id                                             review
0           0                                      slow delivery
1           1               Dateng goods do not conform pesananðŸ˜”
2           2                             PSN k its 20 other DTG
3           3  I am expected that it have a frame and painted...
4           4                   The product quality is not good.
5           5  goods came really not the same as shown in the...
6           6  Q order came quickly but im so very disappoint...
7           7                                    Aprox 1 bjunyaa
8           8            Send a brown color to black, very sick.
9           9          Did not receive item Will not order again
10         10  Open items have dumbfounded used to look over ...
11         11   The product quality is not good. There is a flaw
12         12  Good product but right ga ga given promises ch...
13         13                                    product defects
14         14  Of 5 orders ... motif that BNR's just ... hope...
15         15                                  Item shipped late
16         16  Sandals too little, just like sz 35.36 only. S...
17         17  Quality is ok but the size chart is wrong it s...
18         18  Not to order .... very kecwa ..... very jero jero
19         19  D beautiful packaging so nagcrack nong shippin...

In [16]:
toPredictVector = vectorizer.transform(toPredict.review)

In [17]:
toPredict['results'] = model.predict(toPredictVector)

In [18]:
toPredict

       review_id                                             review  results
0              0                                      slow delivery        3
1              1               Dateng goods do not conform pesananðŸ˜”        1
2              2                             PSN k its 20 other DTG        1
3              3  I am expected that it have a frame and painted...        1
4              4                   The product quality is not good.        3
...          ...                                                ...      ...
62913      62913  Has shipped It was the model that fits the cut...        3
62914      62914       Awesome awesome speed of the ship's value CP        4
62915      62915  but already in lebihin one of its usual size w...        3
62916      62916                  The product quality is excellent.        5
62917      62917  Excellent product quality, original product, t...        5

[62918 rows x 3 columns]

In [19]:
toPredict = toPredict.drop(columns=['review'])
toPredict = toPredict.rename(columns={"results": "rating"})
toPredict

       review_id  rating
0              0       3
1              1       1
2              2       1
3              3       1
4              4       3
...          ...     ...
62913      62913       3
62914      62914       4
62915      62915       3
62916      62916       5
62917      62917       5

[62918 rows x 2 columns]

In [20]:
toPredict.to_csv("toPass.csv", index=False)